@media print {
  .printable-component {
    page-break-inside: avoid !important;
    page-break-before: avoid !important;
    page-break-after: avoid !important;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    break-inside: avoid !important;
  }
}
